{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>AppWeb Matrícula Colegio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="{% static '/school.png' %}" type="image/png">
</head>
<body>
    <header>
        <h1>Matrícula Colegio</h1>
    </header>
    <main class="container">
        <div class="card">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>
