<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constancia de Matrícula</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Constancia de Matrícula</h1>
        <p>La constancia de matrícula para {{ alumno.nombre }} {{ alumno.apellido }} ha sido enviada.</p>
        <!-- Opcional: Añadir un enlace para descargar la constancia -->
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
