{% extends 'base.html' %}

{% block content %}
    <h2>Verificación de Alumno Nuevo</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>¿Usted ya ha estudiado en nuestra institución?</p>
        <div class="form-group">
            <label for="dni">Ingrese su DNI para verificar sus datos:</label>
            <input type="text" name="dni" id="dni" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-warning mb-2">Convalidar DNI</button>
    </form>

    <form method="post" action="{% url 'registro_ingresantes' %}">
        {% csrf_token %}
        <p>¿Usted es nuevo en nuestra institución?</p>
        <button type="submit" class="btn btn-primary btn-block">Ir a Registrar</button>
    </form>

    <button class="btn btn-secondary" type="button" onclick="window.history.back();">Cancelar</button>
{% endblock %}
